<!DOCTYPE html>
<html lang="fi-FI">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sensibo Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  </head>

  <body>
    <div id="vue-root">
      <ul>
        <li v-for="pod in activePods">
          {{ pod.room.name }}:
          {{ pod.measurements.temperature }} C
        </li>
      </ul>
    </div>
  </body>

  <script src="/static/scripts/app.js"></script>
</html>
