<!DOCTYPE html>
<html lang="fi-FI">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mäkinen AC Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="vue-root">
      <section class="wrapper">
        <header>
          <h1 class="page-title">Mäkinen AC Dashboard</h1>
        </header>

        <article>
          <div v-if="activeDevices.length === 0">
            <div class="device">Loading...</div>
          </div>

          <div class="devices" v-else>
            <device-template
              v-for="device in activeDevices"
              :device="device"
              :key="device.id"
            ></device-template>
          </div>
        </article>

        <article>
          <line-chart
            v-if="upstairsDataLoaded"
            :labels="chartLabels"
            :datasets="this.upstairsData"
            :styles="{ position: 'relative', width: '600px' }"
          ></line-chart>

          <line-chart
            v-if="downstairsDataLoaded"
            :labels="chartLabels"
            :datasets="this.downstairsData"
            :styles="{ position: 'relative', width: '600px' }"
          ></line-chart>
        </article>
      </section>

      <footer>
        <a
          href="https://github.com/Laumak/sensibo-tracker"
          target="_blank"
          rel="noopener noreferrer"
        >
          GitHub Repository
        </a>
        &nbsp💎&nbsp
        <a
          href="https://sensibo.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sensibo Homepage
        </a>
      </footer>
    </div>
  </body>

  <script src="/static/scripts/app.js"></script>
</html>
