<!DOCTYPE html>
<html lang="fi-FI">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mäkinen AC Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="vue-root">
      <section class="wrapper">
        <article class="current-measurements">
          <div class="devices" v-if="activeDevices.length === 0">
            <div class="device">
              <p>Yläkerta lataa...</p>
            </div>

            <div class="device">
              <p>Alakerta lataa...</p>
            </div>
          </div>

          <div class="devices" v-else>
            <device-template
              v-for="device in activeDevices"
              :device="device"
              :key="device.id"
            ></device-template>
          </div>
        </article>

        <article class="charts">
          <select
            v-model="selectedTimeframe"
            @change="handleOnTimeframeSelect"
          >
            <option value="12">12 Tuntia</option>
            <option value="24">24 Tuntia</option>
          </select>

          <div class="charts-wrapper">
            <div class="chart-component">
              <h2>Yläkerta</h2>
              <line-chart
                v-if="upstairsDataLoaded"
                label="Yläkerta"
                :chart-data="{ labels: chartLabels, datasets: upstairsData }"
                class="line-chart-wrapper"
              ></line-chart>
            </div>

            <div class="chart-component">
              <h2>Alakerta</h2>
              <line-chart
                v-if="downstairsDataLoaded"
                label="Alakerta"
                :chart-data="{ labels: chartLabels, datasets: downstairsData }"
                class="line-chart-wrapper"
              ></line-chart>
            </div>
          </div>
        </article>
      </section>

      <footer>
        <a
          href="https://github.com/Laumak/sensibo-tracker"
          target="_blank"
          rel="noopener noreferrer"
        >
          GitHub Repository
        </a>
        &nbsp💎&nbsp
        <a
          href="https://sensibo.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sensibo Homepage
        </a>
      </footer>
    </div>
  </body>

  <script src="/static/scripts/app.js"></script>
</html>
